.tooltip {
  z-index: 99;
  background: var(--chart-desc-bg);
  border-radius: 4px;
  color: var(--font-color);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  /* overflow: hidden;
  overflow-y: hidden; */
}

.tooltipTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-shadow: 0 0 10px var(--chart-desc-bg);
}

.tooltipBody {
  display: flex;
  font-size: 0.9em;
}

.tooltipColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tooltipLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  width: 100%;
  background: linear-gradient(to right, var(--chart-desc-bg), transparent 100%);
}

.tooltipLineName {
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding-left: 0.3em;
  text-shadow: 0 0 5px var(--chart-desc-bg);
}

.tooltipLineValue {
  font-weight: bold;
  text-align: right;
  min-width: 40px;
  margin-right: 0.2em;
}
