#root {
  /* margin: 0 auto; */
  text-align: center;
  width: 100%;
}

.blurb {
  margin: 0 auto;
  max-width: 800px;
  color: var(--font-color);
}

.blurb p {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.chart-outer-container {
  background-color: var(--chart-background);
  padding: 2rem;
  margin-bottom: 0.5rem;
}

.chart-container {
  position: relative;
  height: 600px;
  width: 80vw;
  max-width: 1280px;
}

.disclosure > p {
  margin: 0;
}

.configurator-closed {
  padding-bottom: 2.5vh;
}

.hover-blue:hover {
  color: var(--battle-blue);
}

.hover-red:hover {
  color: var(--battle-red);
}

.app-container {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--font-color); */
  /* min-width: 1200px; */
  /* width: 1200px; */
}

.main-content {
  /* width: 100%; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
