#root {
  margin: 0 auto;
  text-align: center;
}

.blurb {
  margin: 0 auto;
  max-width: 800px;
  color: var(--font-color);
}

.blurb p {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.chart-outer-container {
  background-color: var(--chart-background);
  padding: 2rem;
  margin-bottom: 0.5rem;
}

.chart-container {
  position: relative;
  height: 600px;
  width: 80vw;
  max-width: 1280px;
}

.disclosure > p {
  margin: 0;
}

.main-content {
  margin-top: 4.5rem;
}

.configurator-closed {
  padding-bottom: 2.5vh;
}

.hover-blue:hover {
  color: var(--battle-blue);
}

.hover-red:hover {
  color: var(--battle-red);
}
