.resizer {
  width: 5px;
  background-color: #ccc;
  cursor: ew-resize;
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* height: 100%; */
  /* z-index: 1; */
  height: calc(100vh - 4rem);
}
