.wcf-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--wcf-container);
}

.wcf-container-closed {
  position: fixed;
  bottom: -0.1rem;
  left: 0;
  z-index: 100;
  width: 100%;
}
.wcf-container-closed .wcf-header-bar {
  cursor: default;
}

.wcf-header-bar {
  background-color: var(--wcf-header);
  height: 2.2rem;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  font-size: 1.3rem;
  cursor: ns-resize;
  resize: vertical;
}
.wcf-header-bar .material-symbols-outlined {
  font-size: 2.2rem;
}

.configurator-optimize {
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}

.configurator-clear-all {
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}

.ttk-range-input {
  width: 4rem;
  background-color: var(--nav-input-bg);
  border: none;
  float: right;
  font-size: 12pt;
  text-align: center;
  display: inline;
}

.configurator-toggle {
  margin: 0 auto;
  user-select: none;
  cursor: pointer;
  min-width: 4rem;
}
.configurator-toggle:hover {
  color: var(--battle-blue);
}
.wcf-scrollable {
  height: calc(100% - 3.2rem);
  padding-bottom: 1rem;
  overflow-y: scroll;
  padding-left: 1rem;
}
.wcf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.wcf-weapon {
  display: grid;
  width: 1fr;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  height: 10rem;
  margin-right: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.wcf-selector-select {
  border-radius: 0;
  border-color: rgb(216, 216, 216);
  color: var(--font-color);
  background-color: var(--wcf-container);
  font-weight: 600;
}

.wcf-selector-ammo-standard {
  color: #7fff7f;
}
.wcf-selector-ammo-closecombat {
  color: #7fffff;
}
.wcf-selector-ammo-highpower {
  color: #ff7f7f;
}
.wcf-selector-ammo-subsonic {
  color: #7f7fff;
}
.wcf-selector-ammo-armorpiercing,
.wcf-selector-ammo-anti-material,
.wcf-selector-ammo-anti-materialhighpower {
  color: #ffff7f;
}

.wcf-selector-option {
  line-height: 2.8rem;
}
.wcf-name {
  text-align: left;
  font-weight: 600;
}

.wcf-weapon-selector {
  height: 2.8rem;
  display: grid;
  grid-template-columns: 2.8rem 1rem 1fr;
  margin-bottom: 0.5rem;
  font-size: 14pt;
  color: rgb(120, 120, 120);
}

.wcf-selector-label {
  display: grid;
  font-weight: 600;
  border: 0.2rem solid rgb(120, 120, 120);
  line-height: 2.4rem;
}

.wcf-header {
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 30px 30px 30px;
  height: 2.2rem;
  margin-bottom: 0.6rem;
}
.wcf-header-item {
  display: grid;
  overflow: hidden;
  height: 2.2rem;
}

.wcf-header-button {
  cursor: pointer;
  user-select: none;
  height: 1.8rem;
}

.wcf-visibility {
  position: relative;
  top: 0.2rem;
}
.wcf-close {
  position: relative;
  top: 0.2rem;
}
