#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  color: var(--battle-white);
  /* background-color: var(--battle-grey); */
}

.chart-container {
  position: relative;
  height: 30vh;
  width: 80vw;
  max-width: 1280px;
}

.chart-outer-container {
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: #000c;
  padding: 2rem;
  margin-bottom: 0.5rem;
}

.chart-outer-container > h2 {
  margin: 0;
  margin-bottom: 1rem;
}
.disclosure > p {
  margin: 0;
}

/* .top-nav-weapon-select-dropdown {
  position:relative;
} */

.main-content {
  margin-top: 4.5rem;
  margin-left: 2em;
  margin-right: 1em;
  padding-bottom: 30vh;
  transition: all 0.2s ease;
}

.configurator-closed {
  /* background-color: white;
  border: 1px solid red; */
  padding-bottom: 2.5vh;
  transition: all 0.2s ease;
}
