#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #aaa;
}

.chart-container {
  position: relative;
  height:60vh;
  width:80vw;
  max-width: 1280px;
}

.disclosure > p {
  margin: 0;
}