#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  color: var(--battle-white);
  /* background-color: var(--battle-grey); */
}

.chart-container {
  position: relative;
  height: 30vh;
  width: 80vw;
  max-width: 1280px;
}

.disclosure > p {
  margin: 0;
}

/* .top-nav-weapon-select-dropdown {
  position:relative;
} */

.main-content {
  margin-top: 4em;
  margin-left: 2em;
  margin-right: 1em;
  padding-bottom: 30vh;
}
