:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --battle-white: #ffffff;
  --battle-blue: #26ffdf;
  --battle-red: #ff3224;
  --battle-grey: #252525;
  --battle-black: #121212;
  --battle-bg-blue: #001621;

  background-color: var(--root-bg);
  color: var(--font-color);

  --font-highlight: var(--battle-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --root-bg: var(-battle-bg-blue);
    --chart-background: #01010180;
    --chart-desc-bg: black;
    --font-color: var(--battle-white);
    --weapon-dropdown-bg: rgba(0, 0, 0, 0.9);
    --nav-bg: black;
    --divider-color: var(--battle-white);
    --button-bg: black;
    --wcf-header: #0009;
    --wcf-container: #000d;
    --nav-input-bg: var(--battle-grey);
  }

  .svg-white {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(121deg)
      brightness(108%) contrast(108%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --root-bg: #eee;
    --chart-background: white;
    --chart-desc-bg: white;
    --font-color: var(--battle-black);
    --nav-bg: white;
    --weapon-dropdown-bg: rgba(255, 255, 255, 0.95);
    --divider-color: var(--battle-black);
    --button-bg: #ccc;
    --wcf-header: #ddd;
    --wcf-container: #fffe;
    --nav-input-bg: white;
  }

  .svg-white {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(121deg)
      brightness(108%) contrast(108%);
  }
}

.svg-hover-red:hover {
  filter: invert(28%) sepia(84%) saturate(3067%) hue-rotate(347deg)
    brightness(100%) contrast(103%);
}

.svg-hover-blue:hover {
  filter: invert(71%) sepia(85%) saturate(393%) hue-rotate(111deg)
    brightness(102%) contrast(102%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

html {
  margin-bottom: 200vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--battle-blue);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover:not([disabled]) {
  border-color: var(--battle-blue);
  border-width: 1px;
  color: var(--battle-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:focus {
  outline: none;
}
.btn-enabled {
  color: var(--battle-blue);
}

.button-container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  max-width: 20vh;
  margin-left: auto;
  margin-right: auto;
}
