.top-nav {
  position: fixed;
  top: 0px;
  left: 0;
  background-color: black;
  z-index: 100;
  width: 100%;
  text-align: left;
  height: 4rem;
  font-size: 1.3rem;
  /* -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; */
}

.top-nav-title {
  font-size: 2.6rem;
  line-height: 4rem;
  color: var(--battle-white);
}

.top-nav ul,
.top-nav li {
  margin: 0;
  padding: 0;
}

.top-nav ul {
  background: gray;
  list-style: none;
  width: 100%;
}

.top-nav li {
  float: left;
  position: relative;
  width: auto;
  /* padding-left: 0.2rem; */
}

.top-nav h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.top-nav-label {
  /* background: #30A6E6; */
  color: #ffffff;
  display: block;
  font: bold 1.3rem/2rem sans-serif;
  padding: 1rem 25px;
  text-align: center;
  text-decoration: none;
}

.top-nav li:hover .top-nav-label {
  color: var(--battle-blue);
}

.weapon-select-dropdown-container {
  opacity: 0;
  position: absolute;
  left: -100px;
  top: 4rem;
  visibility: hidden;
  min-width: 400px;
}

ul.weapon-select-dropdown {
  left: 0;
  margin-top: 0.5rem;
  padding: 1rem;
  z-index: 1;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}

li:hover div.weapon-select-dropdown-container {
  opacity: 1;
  top: 4rem; /* adjust this as per top nav padding top & bottom comes */
  visibility: visible;
}

.weapon-select-dropdown li {
  float: none;
  width: 100%;
}

.weapon-select-add-all {
  border-bottom: 1px solid var(--battle-white);
  text-align: center;
  font-size: 13pt;
  cursor: pointer;
  font-weight: 600;
}

.weapon-select-add-all:hover {
  color: var(--battle-blue);
  border-bottom: 1px solid var(--battle-blue);
}

.weapon-select-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weapon-select-items-container-settings {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.weapon-select-item:hover {
  /* background: #DF4B05; */
  color: var(--battle-blue);
}
.weapon-select-item {
  /* background-color:#000000; */
  cursor: pointer;
  font-size: 12pt;
  font-weight: 600;
}
